en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl
meilisearch==0.23.0
numpy==1.23.5
pandas==1.5.2
pydantic==1.10.2
pytest==7.2.0
python-dotenv==0.21.0
requests==2.28.1
responses==0.22.0
spacy==3.4.3
